<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30792080038-qh6g560jee4li3q1kmlu1v5o6ko56fru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30792080038-qh6g560jee4li3q1kmlu1v5o6ko56fru</string>
	<key>API_KEY</key>
	<string>AIzaSyBZn2Af-WeCVYVkadr3x4vsWuHZXADZ4XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>30792080038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.manosoft.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-dev-cb9e7</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-dev-cb9e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30792080038:ios:133b72f63a5da613</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-dev-cb9e7.firebaseio.com</string>
</dict>
</plist>